*{
  margin: 0;
  padding: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.copyright{
  text-align: center;
  height: 30vh;
  color: #000;
  background-color: #4CAF50;

}
#user-detail{
  width: 100%;
  height:500px; 
  justify-content: space-evenly;
  margin-left: 5px ;
  background-color: rgb(144, 184, 219);;
}

